
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: cursive;
    background-color: antiquewhite;
    color: #334be7;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: azure;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: rgb(218, 55, 30);
}

.add-task {
    margin-bottom: 30px;
}

.add-task input,
.add-task select {
    margin: 5px 0;
    padding: 10px;
    width: 200px;
    font-size: 16px;
}

.add-task button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.add-task button:hover {
    background-color: #45a049;
}

.task-list {
    margin-bottom: 20px;
}

.task-list ul {
    list-style: none;
    padding: 0;
}

.task-list li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border-radius: 5px;
}


.filters button {
    padding: 10px 20px;
    margin: 10px 5px;
    background-color: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.filters button:hover {
    background-color: #1976D2;
}

.task-details ul {
    list-style: none;
    padding: 0;
}

.task-details li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border-radius: 5px;
}